.loginsignup {
    width: 100%;
    height: 80%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(181, 1, 180, 1) 67%, rgba(145, 0, 255, 1) 100%);
    padding-top: 70px;
    padding-bottom: 50px;
}

.loginsignup-container {
    width: 380px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.13);
    margin: auto;
    padding: 40px 60px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

}

.loginsignup-container * {
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0.5px;
    outline: none;
    border: none;

}

.loginsignup-container-title {
    text-align: center;
}

.loginsignup-container h1 {
    color: azure;
    margin: 20px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 30px;
    line-height: 42px;

}



.loginsignup-fields label {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;

}

.loginsignup-fields input {

    color: aliceblue;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 3px;
    outline: none;
    margin-top: 8px;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.loginsignup-button {

    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    width: 80%;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;





}

.loginsignup-container-title2 {
    text-align: center;
    padding-top: 40px;
}

.loginsignup-login {
    margin-top: 50px;
    color: wheat;
    font-size: 14px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-login a {
    color: #ff4141;
    font-weight: 600;
  }
.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font: 500;
}

.login-error-toast {
    background-color: #ff3333; /* Red background color */
    color: #fff; /* White text color */
  }
  
