.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 1px -2px 3px black;
    background-color: #fffffff6;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: rgb(15, 67, 113);
    font-size: 28px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: rgb(190, 90, 47);
    font-size: 15px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #c0a448;

}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-login-cart button {
    width: 127px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 15px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button :active {
    background: #ed6f6ff3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 11px;
    background: red;
    color: rgb(206, 203, 203);

}

.user-pic {
    height: 48px;
    border-radius: 31px;
}

.sub-menu-wrap {
    position: absolute;
    top: 14%;
    right: 10%;
    width: 320px;

}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info-pic {
    height: 38px;
}

.user-info h4 {
    font-weight: 500;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}
.user-info hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px;
}